<section id="connexion">
    <section id="connexion_left">
        <div id="connexion_left_top">
            <div id="connexion_left_top_left"></div>
            <h2 id="connexion_left_top_right">MONSTER TWEETY</h2>
        </div>
        <div id="connexion_left_middle">
            <div id="connexion_left_middle_left"></div>
            <img id="connexion_left_middle_right" src="monsterTweety.gif">
        </div>
        <div id="connexion_left_bottom">
            <div id="connexion_left_bottom_up">
                <button id="connexion_left_bottom_up_button" type="submit">
                    <a id="connexion_left_bottom_up_button_link" href="/inscription">
                    Vous souhaitez nous rejoindre ? Inscrivez-vous en cliquant ici !</a>
                </button>
            </div>
            <div id="connexion_left_bottom_down"></div>
        </div>
    </section>
    <section id="connexion_middle">
        <section id="connexion_middle_top"></section>
        <section id="connexion_middle_middle"></section>
        <section id="connexion_middle_bottom"></section>
    </section>
    <section id="connexion_right">
        <section id="connexion_right_top">
            <div id="connexion_right_top_top"></div>
            <div id="connexion_right_top_middle">
                <div id="connexion_right_top_middle_left"></div>
                <div id="connexion_right_top_middle_right"></div>
            </div>
            <div id="connexion_right_top_bottom">
                <div id="connexion_right_top_bottom_left">WELCOME BACK !</br> Connectez-vous pour poursuivre le chat ! </div>
                <div id="connexion_right_top_bottom_right"></div>
            </div>
        </section>
        <section id="connexion_right_middle">
            <form id="connexion_right_middle_left" method="POST" action="/">
                <input id="connexion_right_middle_left_email" type="email" name="userEmailAdress" placeholder="Adresse Email">
                <input id="connexion_right_middle_left_password" type="password" name="userPassword" placeholder="Mot de Passe">
                <button id="connexion_right_middle_left_button" type="submit">Envoyer</button>
            </form>
            <div id="connexion_right_middle_right"></div>
        </section>
        <section id="connexion_right_bottom"></section>
    </section>
</section>