<header>
    <img src="monster_tweety.png" alt="Logo">
    <h1>Monster Tweety</h1>
</header>

<button type="submit"><a href="/inscription">Inscrivez-vous</a></button>
<button type="submit"><a href="/tweetactu">Fil d'actualité</a></button>

{{tweetActu}}