<header id="home_header">
    <img src="monster_tweety.png" alt="Logo" style="width: 150px;height:150px;">
    <h1>Monster Tweety</h1>
    <button type="submit"><a href="/inscription">Inscription</a></button>
    <button type="submit"><a href="/tweetactu">Fil d'actualité</a></button>
</header>
<main id="connexion">

    <div class="alert">
        {{#if messages.error}}
        <h1>{{messages.error}}</h1>
        {{/if}}
    </div>

    <form id="connexion_form" method="POST" action="/tweetactu">
        <input id="connexion_form_email" type="email" name="userEmailAdress" placeholder="EmailAdress">
        <input id="connexion_form_userpassword" type="password" name="userPassword" placeholder="Password">
        <button type="submit">Valider</button>
    </form>
</main>