<h1>Inscrivez-vous !</h1>
<main id="inscription">
    <form id="inscription_form" method="POST" action="/inscription">
        <input id="inscription_form_username" type="text" name="userName" placeholder="Name" >
        <input id="inscription_form_userpseudo" type="text" name="userPseudo" placeholder="Pseudo">
        <input id="inscription_form_userpassword" type="password" name="userPassword" placeholder="Password">
        <input id="inscription_form_email" type="email" name="userEmailAdress" placeholder="EmailAdress">
        <input id="inscription_form_userpicture" type="file" name="userPicture">
        <button type="submit">Valider</button>
    </form>
</main>