<h1>Page inscription</h1>
<form method="POST" action="/inscription">
    <input type="text" name="userName" placeholder="Name" >
    {{!-- <input type="text" name="userPseudo">
    <input type="text" name="userPassword">
    <input type="text" name="userEmailAdress"> --}}
    <button type="submit">Valider</button>
</form>