<h1>Page inscription</h1>
<form method="POST" action="/inscription">
    <input type="text" name="userName" placeholder="Name" >
    <input type="text" name="userPseudo" placeholder="Pseudo">
    <input type="password" name="userPassword" placeholder="Password">
    <input type="email" name="userEmailAdress" placeholder="EmailAdress">
    <input type="file" name="userPicture">
    <button type="submit">Valider</button>
</form>