<section id="inscription">
    <section id="inscription_left">
        <div id="inscription_left_top">
            <div id="inscription_left_top_left"></div>
            <h2 id="inscription_left_top_right">MONSTER TWEETY</h2>
        </div>
        <div id="inscription_left_middle">
            <div id="inscription_left_middle_left"></div>
            <img id="inscription_left_middle_right" src="monster_tweety.png">
        </div>
        <div id="inscription_left_bottom">
            <div id="inscription_left_bottom_up"></div>
            <div id="inscription_left_bottom_down"></div>
        </div>
    </section>
    <section id="inscription_middle">
        <section id="inscription_middle_top"></section>
        <section id="inscription_middle_middle"></section>
        <section id="inscription_middle_bottom"></section>
    </section>
    <section id="inscription_right">
        <section id="inscription_right_top">
            <div id="inscription_right_top_top"></div>
            <div id="inscription_right_top_middle">
                <div id="inscription_right_top_middle_left"></div>
                <div id="inscription_right_top_middle_right"></div>
            </div>
            <div id="inscription_right_top_bottom">
                <div id="inscription_right_top_bottom_left">Inscrivez-vous ! </div>
                <div id="inscription_right_top_bottom_right"></div>
            </div>
        </section>
        <section id="inscription_right_middle">
            <form id="inscription_right_middle_left" method="POST" action="/inscription">
                <input id="inscription_right_middle_left_name" type="text" name="userName" placeholder="Nom" >
                <input id="inscription_right_middle_left_pseudo" type="text" name="userPseudo" placeholder="Pseudo">
                <input id="inscription_right_middle_left_email" type="email" name="userEmailAdress" placeholder="Adresse Email">
                <input id="inscription_right_middle_left_password" type="password" name="userPassword" placeholder="Mot de Passe">
                <button id="inscription_right_middle_left_button" type="submit">Envoyer</button>
            </form>
            <div id="inscription_right_middle_right"></div>
        </section>
        <section id="inscription_right_bottom"></section>
    </section>
</section>